@import "./variables.scss";
@import "./mixins.scss";
@import "./mixins.scss";
@import "./variables.scss";

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 2rem;
  &__card {
    border: 2px solid $navy;
    border-radius: 25px;
    h6 {
      padding: 1rem;
      border-bottom: 2px solid $navy;
    }
    img {
      width: 100%;
      align-self: center;
      padding: 2rem;
    }
  }
}
